<%

-%>

<%
unless User.current.login == ''
    messages = Message.find(
                :all,
                :limit => 3,
                :conditions => "sticky = 0 and parent_id is null",
                :order => "created_on desc",
                :include => [:author, :board]
               )

  unless messages.length == 0
%>
    <div class="sticky_messages-area">
      <div class="_sticky_messages">
        <strong><%= l(:label_message) %></strong>
        <% messages.each do |m| %>
          <ul><li><a href="/boards/<%= m.board_id %>/topics/<%= m.id %>?r=<%= m.parent_id %>"><%= m.subject %><% unless m.replies_count == 0 %> [<%= m.replies_count %>]<% end %></a></li></ul>
        <% end %>
      </div>
      <label id="_sticky_messages-ok"><%= l(:label_ok) %></label>
      <label id="_sticky_messages-off"><%= l(:label_off) %></label>
    </div>
  <% end %>  
<% end %>

